@font-face {
    font-family: "Amaranth";
    src: url("./Amaranth.ttf?f728e1ea3ae17126d9ed97939ece8e66") format("truetype"),
url("./Amaranth.woff?f728e1ea3ae17126d9ed97939ece8e66") format("woff"),
url("./Amaranth.woff2?f728e1ea3ae17126d9ed97939ece8e66") format("woff2"),
url("./Amaranth.eot?f728e1ea3ae17126d9ed97939ece8e66#iefix") format("embedded-opentype");
}

.ai {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: Amaranth !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    line-height: 1;
    text-rendering: auto;
}

.ai.ai-alarm:before {
    content: "\f101";
}
.ai.ai-amaranth:before {
    content: "\f102";
}
.ai.ai-angle-down:before {
    content: "\f103";
}
.ai.ai-angle-left:before {
    content: "\f104";
}
.ai.ai-angle-right:before {
    content: "\f105";
}
.ai.ai-angle-up:before {
    content: "\f106";
}
.ai.ai-arrow-down-to-line:before {
    content: "\f107";
}
.ai.ai-arrow-down:before {
    content: "\f108";
}
.ai.ai-arrow-left-from-bracket:before {
    content: "\f109";
}
.ai.ai-arrow-left-to-bracket:before {
    content: "\f10a";
}
.ai.ai-arrow-left-to-line:before {
    content: "\f10b";
}
.ai.ai-arrow-left:before {
    content: "\f10c";
}
.ai.ai-arrow-pointer:before {
    content: "\f10d";
}
.ai.ai-arrow-right-from-bracket:before {
    content: "\f10e";
}
.ai.ai-arrow-right-to-bracket:before {
    content: "\f10f";
}
.ai.ai-arrow-right-to-line:before {
    content: "\f110";
}
.ai.ai-arrow-right:before {
    content: "\f111";
}
.ai.ai-arrow-rotate-right:before {
    content: "\f112";
}
.ai.ai-arrow-up-to-line:before {
    content: "\f113";
}
.ai.ai-arrow-up:before {
    content: "\f114";
}
.ai.ai-arrows-rotate-right:before {
    content: "\f115";
}
.ai.ai-azure:before {
    content: "\f116";
}
.ai.ai-backward:before {
    content: "\f117";
}
.ai.ai-bars-staggered:before {
    content: "\f118";
}
.ai.ai-bars:before {
    content: "\f119";
}
.ai.ai-bel:before {
    content: "\f11a";
}
.ai.ai-bicycle:before {
    content: "\f11b";
}
.ai.ai-box:before {
    content: "\f11c";
}
.ai.ai-branch-up:before {
    content: "\f11d";
}
.ai.ai-branch:before {
    content: "\f11e";
}
.ai.ai-building:before {
    content: "\f11f";
}
.ai.ai-calendar-agenda:before {
    content: "\f120";
}
.ai.ai-calendar-day:before {
    content: "\f121";
}
.ai.ai-calendar-holidays:before {
    content: "\f122";
}
.ai.ai-calendar-month:before {
    content: "\f123";
}
.ai.ai-calendar-week:before {
    content: "\f124";
}
.ai.ai-calendar:before {
    content: "\f125";
}
.ai.ai-changewindows:before {
    content: "\f126";
}
.ai.ai-chart-pie:before {
    content: "\f127";
}
.ai.ai-check:before {
    content: "\f128";
}
.ai.ai-chevron-down:before {
    content: "\f129";
}
.ai.ai-chevron-left:before {
    content: "\f12a";
}
.ai.ai-chevron-right:before {
    content: "\f12b";
}
.ai.ai-chevron-up:before {
    content: "\f12c";
}
.ai.ai-chip:before {
    content: "\f12d";
}
.ai.ai-circle-check:before {
    content: "\f12e";
}
.ai.ai-circle-exclamation:before {
    content: "\f12f";
}
.ai.ai-circle-info:before {
    content: "\f130";
}
.ai.ai-circle-plus:before {
    content: "\f131";
}
.ai.ai-circle-question:before {
    content: "\f132";
}
.ai.ai-circle-user:before {
    content: "\f133";
}
.ai.ai-circle-warning:before {
    content: "\f134";
}
.ai.ai-circle-xmark:before {
    content: "\f135";
}
.ai.ai-city:before {
    content: "\f136";
}
.ai.ai-clock-rotate-left:before {
    content: "\f137";
}
.ai.ai-clock:before {
    content: "\f138";
}
.ai.ai-cmd:before {
    content: "\f139";
}
.ai.ai-code:before {
    content: "\f13a";
}
.ai.ai-compass:before {
    content: "\f13b";
}
.ai.ai-compress:before {
    content: "\f13c";
}
.ai.ai-dashboard:before {
    content: "\f13d";
}
.ai.ai-devices:before {
    content: "\f13e";
}
.ai.ai-disc:before {
    content: "\f13f";
}
.ai.ai-display-cam:before {
    content: "\f140";
}
.ai.ai-display:before {
    content: "\f141";
}
.ai.ai-ellipsis-v:before {
    content: "\f142";
}
.ai.ai-ellipsis:before {
    content: "\f143";
}
.ai.ai-envelope:before {
    content: "\f144";
}
.ai.ai-expand:before {
    content: "\f145";
}
.ai.ai-eye-slash:before {
    content: "\f146";
}
.ai.ai-eye:before {
    content: "\f147";
}
.ai.ai-facebook:before {
    content: "\f148";
}
.ai.ai-fast-backward:before {
    content: "\f149";
}
.ai.ai-fast-forward:before {
    content: "\f14a";
}
.ai.ai-file:before {
    content: "\f14b";
}
.ai.ai-files:before {
    content: "\f14c";
}
.ai.ai-flag:before {
    content: "\f14d";
}
.ai.ai-floppy-disk:before {
    content: "\f14e";
}
.ai.ai-foldable:before {
    content: "\f14f";
}
.ai.ai-folder-image:before {
    content: "\f150";
}
.ai.ai-folder:before {
    content: "\f151";
}
.ai.ai-forward:before {
    content: "\f152";
}
.ai.ai-gamepad:before {
    content: "\f153";
}
.ai.ai-gauge:before {
    content: "\f154";
}
.ai.ai-gear:before {
    content: "\f155";
}
.ai.ai-github:before {
    content: "\f156";
}
.ai.ai-grid:before {
    content: "\f157";
}
.ai.ai-grip-lines:before {
    content: "\f158";
}
.ai.ai-hourglass-empty:before {
    content: "\f159";
}
.ai.ai-hourglass-end:before {
    content: "\f15a";
}
.ai.ai-hourglass-start:before {
    content: "\f15b";
}
.ai.ai-hourglass:before {
    content: "\f15c";
}
.ai.ai-house:before {
    content: "\f15d";
}
.ai.ai-image:before {
    content: "\f15e";
}
.ai.ai-jester-hat:before {
    content: "\f15f";
}
.ai.ai-kite:before {
    content: "\f160";
}
.ai.ai-laptop:before {
    content: "\f161";
}
.ai.ai-link-slash:before {
    content: "\f162";
}
.ai.ai-link:before {
    content: "\f163";
}
.ai.ai-list-ol:before {
    content: "\f164";
}
.ai.ai-list:before {
    content: "\f165";
}
.ai.ai-lock:before {
    content: "\f166";
}
.ai.ai-magnifying-glass:before {
    content: "\f167";
}
.ai.ai-message-pen:before {
    content: "\f168";
}
.ai.ai-message-smile:before {
    content: "\f169";
}
.ai.ai-message-text:before {
    content: "\f16a";
}
.ai.ai-message:before {
    content: "\f16b";
}
.ai.ai-min:before {
    content: "\f16c";
}
.ai.ai-music:before {
    content: "\f16d";
}
.ai.ai-network:before {
    content: "\f16e";
}
.ai.ai-notes:before {
    content: "\f16f";
}
.ai.ai-paper-plane-top:before {
    content: "\f170";
}
.ai.ai-patreon:before {
    content: "\f171";
}
.ai.ai-pause:before {
    content: "\f172";
}
.ai.ai-pen:before {
    content: "\f173";
}
.ai.ai-phone-volume:before {
    content: "\f174";
}
.ai.ai-phone:before {
    content: "\f175";
}
.ai.ai-plane:before {
    content: "\f176";
}
.ai.ai-play-pause:before {
    content: "\f177";
}
.ai.ai-play:before {
    content: "\f178";
}
.ai.ai-plus:before {
    content: "\f179";
}
.ai.ai-puzzle-piece:before {
    content: "\f17a";
}
.ai.ai-repeat-one:before {
    content: "\f17b";
}
.ai.ai-repeat:before {
    content: "\f17c";
}
.ai.ai-rocket:before {
    content: "\f17d";
}
.ai.ai-server:before {
    content: "\f17e";
}
.ai.ai-shield-keyhole:before {
    content: "\f17f";
}
.ai.ai-shield-plus:before {
    content: "\f180";
}
.ai.ai-shield-xmark:before {
    content: "\f181";
}
.ai.ai-shield:before {
    content: "\f182";
}
.ai.ai-shoe-prints:before {
    content: "\f183";
}
.ai.ai-shuffle:before {
    content: "\f184";
}
.ai.ai-signature:before {
    content: "\f185";
}
.ai.ai-sim-card:before {
    content: "\f186";
}
.ai.ai-sliders:before {
    content: "\f187";
}
.ai.ai-smartphone:before {
    content: "\f188";
}
.ai.ai-software-box:before {
    content: "\f189";
}
.ai.ai-spinner-third:before {
    content: "\f18a";
}
.ai.ai-stop:before {
    content: "\f18b";
}
.ai.ai-stopwatch:before {
    content: "\f18c";
}
.ai.ai-store:before {
    content: "\f18d";
}
.ai.ai-swatchbook:before {
    content: "\f18e";
}
.ai.ai-table:before {
    content: "\f18f";
}
.ai.ai-tag:before {
    content: "\f190";
}
.ai.ai-trash-can:before {
    content: "\f191";
}
.ai.ai-tree:before {
    content: "\f192";
}
.ai.ai-trekking-backpack:before {
    content: "\f193";
}
.ai.ai-twitter:before {
    content: "\f194";
}
.ai.ai-universal-access:before {
    content: "\f195";
}
.ai.ai-unlock:before {
    content: "\f196";
}
.ai.ai-user-gear:before {
    content: "\f197";
}
.ai.ai-user-list:before {
    content: "\f198";
}
.ai.ai-user-lock:before {
    content: "\f199";
}
.ai.ai-user-plus:before {
    content: "\f19a";
}
.ai.ai-user:before {
    content: "\f19b";
}
.ai.ai-users-list:before {
    content: "\f19c";
}
.ai.ai-users:before {
    content: "\f19d";
}
.ai.ai-virtual-reality:before {
    content: "\f19e";
}
.ai.ai-volume-0:before {
    content: "\f19f";
}
.ai.ai-volume-1:before {
    content: "\f1a0";
}
.ai.ai-volume-2:before {
    content: "\f1a1";
}
.ai.ai-volume-3:before {
    content: "\f1a2";
}
.ai.ai-volume-none:before {
    content: "\f1a3";
}
.ai.ai-window:before {
    content: "\f1a4";
}
.ai.ai-xmark:before {
    content: "\f1a5";
}
