@font-face {
    font-family: "Amaranth";
    src: url("./Amaranth.ttf?619301aa4029884376b26e7bbb1c7fd5") format("truetype"),
url("./Amaranth.woff?619301aa4029884376b26e7bbb1c7fd5") format("woff"),
url("./Amaranth.woff2?619301aa4029884376b26e7bbb1c7fd5") format("woff2"),
url("./Amaranth.eot?619301aa4029884376b26e7bbb1c7fd5#iefix") format("embedded-opentype");
}

.ai {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: Amaranth !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    line-height: 1;
    text-rendering: auto;
}

.ai.ai-address-book:before {
    content: "\f101";
}
.ai.ai-alarm:before {
    content: "\f102";
}
.ai.ai-amaranth:before {
    content: "\f103";
}
.ai.ai-angle-down:before {
    content: "\f104";
}
.ai.ai-angle-left:before {
    content: "\f105";
}
.ai.ai-angle-right:before {
    content: "\f106";
}
.ai.ai-angle-up:before {
    content: "\f107";
}
.ai.ai-angles-y:before {
    content: "\f108";
}
.ai.ai-apple-app-store:before {
    content: "\f109";
}
.ai.ai-arrow-down-short-wide:before {
    content: "\f10a";
}
.ai.ai-arrow-down-to-line:before {
    content: "\f10b";
}
.ai.ai-arrow-down-wide-short:before {
    content: "\f10c";
}
.ai.ai-arrow-down:before {
    content: "\f10d";
}
.ai.ai-arrow-left-from-bracket:before {
    content: "\f10e";
}
.ai.ai-arrow-left-to-bracket:before {
    content: "\f10f";
}
.ai.ai-arrow-left-to-line:before {
    content: "\f110";
}
.ai.ai-arrow-left:before {
    content: "\f111";
}
.ai.ai-arrow-pointer:before {
    content: "\f112";
}
.ai.ai-arrow-right-from-bracket:before {
    content: "\f113";
}
.ai.ai-arrow-right-to-bracket:before {
    content: "\f114";
}
.ai.ai-arrow-right-to-line:before {
    content: "\f115";
}
.ai.ai-arrow-right:before {
    content: "\f116";
}
.ai.ai-arrow-rotate-right:before {
    content: "\f117";
}
.ai.ai-arrow-up-short-wide:before {
    content: "\f118";
}
.ai.ai-arrow-up-to-line:before {
    content: "\f119";
}
.ai.ai-arrow-up-wide-short:before {
    content: "\f11a";
}
.ai.ai-arrow-up:before {
    content: "\f11b";
}
.ai.ai-arrows-rotate-right:before {
    content: "\f11c";
}
.ai.ai-asterisk:before {
    content: "\f11d";
}
.ai.ai-at:before {
    content: "\f11e";
}
.ai.ai-azure:before {
    content: "\f11f";
}
.ai.ai-backward:before {
    content: "\f120";
}
.ai.ai-bars-staggered:before {
    content: "\f121";
}
.ai.ai-bars:before {
    content: "\f122";
}
.ai.ai-bel:before {
    content: "\f123";
}
.ai.ai-blf:before {
    content: "\f124";
}
.ai.ai-book:before {
    content: "\f125";
}
.ai.ai-box-open-full:before {
    content: "\f126";
}
.ai.ai-box:before {
    content: "\f127";
}
.ai.ai-branch-up:before {
    content: "\f128";
}
.ai.ai-branch:before {
    content: "\f129";
}
.ai.ai-bug:before {
    content: "\f12a";
}
.ai.ai-building:before {
    content: "\f12b";
}
.ai.ai-calendar-agenda:before {
    content: "\f12c";
}
.ai.ai-calendar-day:before {
    content: "\f12d";
}
.ai.ai-calendar-month:before {
    content: "\f12e";
}
.ai.ai-calendar-stars:before {
    content: "\f12f";
}
.ai.ai-calendar-week:before {
    content: "\f130";
}
.ai.ai-calendar:before {
    content: "\f131";
}
.ai.ai-cd:before {
    content: "\f132";
}
.ai.ai-changewindows-can:before {
    content: "\f133";
}
.ai.ai-changewindows-dev:before {
    content: "\f134";
}
.ai.ai-changewindows:before {
    content: "\f135";
}
.ai.ai-chart-pie:before {
    content: "\f136";
}
.ai.ai-check:before {
    content: "\f137";
}
.ai.ai-chevron-down:before {
    content: "\f138";
}
.ai.ai-chevron-left:before {
    content: "\f139";
}
.ai.ai-chevron-right:before {
    content: "\f13a";
}
.ai.ai-chevron-up:before {
    content: "\f13b";
}
.ai.ai-chip:before {
    content: "\f13c";
}
.ai.ai-chrome:before {
    content: "\f13d";
}
.ai.ai-circle-check:before {
    content: "\f13e";
}
.ai.ai-circle-exclamation:before {
    content: "\f13f";
}
.ai.ai-circle-info:before {
    content: "\f140";
}
.ai.ai-circle-plus:before {
    content: "\f141";
}
.ai.ai-circle-question:before {
    content: "\f142";
}
.ai.ai-circle-user:before {
    content: "\f143";
}
.ai.ai-circle-xmark:before {
    content: "\f144";
}
.ai.ai-city:before {
    content: "\f145";
}
.ai.ai-clock-rotate-left:before {
    content: "\f146";
}
.ai.ai-clock:before {
    content: "\f147";
}
.ai.ai-cmd:before {
    content: "\f148";
}
.ai.ai-code:before {
    content: "\f149";
}
.ai.ai-compass:before {
    content: "\f14a";
}
.ai.ai-compress:before {
    content: "\f14b";
}
.ai.ai-copy:before {
    content: "\f14c";
}
.ai.ai-dashboard:before {
    content: "\f14d";
}
.ai.ai-devices:before {
    content: "\f14e";
}
.ai.ai-display-cam:before {
    content: "\f14f";
}
.ai.ai-display:before {
    content: "\f150";
}
.ai.ai-earth:before {
    content: "\f151";
}
.ai.ai-eclipse:before {
    content: "\f152";
}
.ai.ai-edge:before {
    content: "\f153";
}
.ai.ai-ellipsis-v:before {
    content: "\f154";
}
.ai.ai-ellipsis:before {
    content: "\f155";
}
.ai.ai-envelope-1:before {
    content: "\f156";
}
.ai.ai-envelope:before {
    content: "\f157";
}
.ai.ai-ethernet:before {
    content: "\f158";
}
.ai.ai-euro:before {
    content: "\f159";
}
.ai.ai-expand:before {
    content: "\f15a";
}
.ai.ai-eye-slash:before {
    content: "\f15b";
}
.ai.ai-eye:before {
    content: "\f15c";
}
.ai.ai-facebook-messenger:before {
    content: "\f15d";
}
.ai.ai-facebook:before {
    content: "\f15e";
}
.ai.ai-fast-backward:before {
    content: "\f15f";
}
.ai.ai-fast-forward:before {
    content: "\f160";
}
.ai.ai-fax:before {
    content: "\f161";
}
.ai.ai-file:before {
    content: "\f162";
}
.ai.ai-files:before {
    content: "\f163";
}
.ai.ai-film:before {
    content: "\f164";
}
.ai.ai-filter-plus:before {
    content: "\f165";
}
.ai.ai-filter-xmark:before {
    content: "\f166";
}
.ai.ai-filter:before {
    content: "\f167";
}
.ai.ai-fingerprint:before {
    content: "\f168";
}
.ai.ai-firefox:before {
    content: "\f169";
}
.ai.ai-flag-checkered:before {
    content: "\f16a";
}
.ai.ai-flag:before {
    content: "\f16b";
}
.ai.ai-floppy-disk:before {
    content: "\f16c";
}
.ai.ai-foldable:before {
    content: "\f16d";
}
.ai.ai-folder-image:before {
    content: "\f16e";
}
.ai.ai-folder:before {
    content: "\f16f";
}
.ai.ai-forward:before {
    content: "\f170";
}
.ai.ai-gamepad:before {
    content: "\f171";
}
.ai.ai-gauge:before {
    content: "\f172";
}
.ai.ai-gear:before {
    content: "\f173";
}
.ai.ai-gift:before {
    content: "\f174";
}
.ai.ai-github:before {
    content: "\f175";
}
.ai.ai-google-play:before {
    content: "\f176";
}
.ai.ai-grid:before {
    content: "\f177";
}
.ai.ai-grip-lines:before {
    content: "\f178";
}
.ai.ai-headset:before {
    content: "\f179";
}
.ai.ai-heart-crack:before {
    content: "\f17a";
}
.ai.ai-heart-half:before {
    content: "\f17b";
}
.ai.ai-heart:before {
    content: "\f17c";
}
.ai.ai-hourglass-empty:before {
    content: "\f17d";
}
.ai.ai-hourglass-end:before {
    content: "\f17e";
}
.ai.ai-hourglass-start:before {
    content: "\f17f";
}
.ai.ai-hourglass:before {
    content: "\f180";
}
.ai.ai-house:before {
    content: "\f181";
}
.ai.ai-id-card:before {
    content: "\f182";
}
.ai.ai-image:before {
    content: "\f183";
}
.ai.ai-laptop:before {
    content: "\f184";
}
.ai.ai-layers-plus:before {
    content: "\f185";
}
.ai.ai-layers:before {
    content: "\f186";
}
.ai.ai-lightbulb-on:before {
    content: "\f187";
}
.ai.ai-lightbulb:before {
    content: "\f188";
}
.ai.ai-link-slash:before {
    content: "\f189";
}
.ai.ai-link:before {
    content: "\f18a";
}
.ai.ai-linkedin:before {
    content: "\f18b";
}
.ai.ai-list-check:before {
    content: "\f18c";
}
.ai.ai-list-ol:before {
    content: "\f18d";
}
.ai.ai-list:before {
    content: "\f18e";
}
.ai.ai-location-pin-dot:before {
    content: "\f18f";
}
.ai.ai-location-pin-slash:before {
    content: "\f190";
}
.ai.ai-location-pin:before {
    content: "\f191";
}
.ai.ai-location-pins-route:before {
    content: "\f192";
}
.ai.ai-lock:before {
    content: "\f193";
}
.ai.ai-logs:before {
    content: "\f194";
}
.ai.ai-magnifying-glass:before {
    content: "\f195";
}
.ai.ai-message-pen:before {
    content: "\f196";
}
.ai.ai-message-smile:before {
    content: "\f197";
}
.ai.ai-message-text:before {
    content: "\f198";
}
.ai.ai-message:before {
    content: "\f199";
}
.ai.ai-microphone:before {
    content: "\f19a";
}
.ai.ai-min:before {
    content: "\f19b";
}
.ai.ai-moon:before {
    content: "\f19c";
}
.ai.ai-music:before {
    content: "\f19d";
}
.ai.ai-network:before {
    content: "\f19e";
}
.ai.ai-notes:before {
    content: "\f19f";
}
.ai.ai-numpad:before {
    content: "\f1a0";
}
.ai.ai-paper-plane-top:before {
    content: "\f1a1";
}
.ai.ai-parachute-box:before {
    content: "\f1a2";
}
.ai.ai-patreon:before {
    content: "\f1a3";
}
.ai.ai-pause:before {
    content: "\f1a4";
}
.ai.ai-pen:before {
    content: "\f1a5";
}
.ai.ai-phone-arrow-down-left:before {
    content: "\f1a6";
}
.ai.ai-phone-arrow-up-right:before {
    content: "\f1a7";
}
.ai.ai-phone-gear:before {
    content: "\f1a8";
}
.ai.ai-phone-list:before {
    content: "\f1a9";
}
.ai.ai-phone-office:before {
    content: "\f1aa";
}
.ai.ai-phone-volume:before {
    content: "\f1ab";
}
.ai.ai-phone:before {
    content: "\f1ac";
}
.ai.ai-plane:before {
    content: "\f1ad";
}
.ai.ai-play-pause:before {
    content: "\f1ae";
}
.ai.ai-play:before {
    content: "\f1af";
}
.ai.ai-plus:before {
    content: "\f1b0";
}
.ai.ai-power:before {
    content: "\f1b1";
}
.ai.ai-puzzle-piece:before {
    content: "\f1b2";
}
.ai.ai-repeat-1:before {
    content: "\f1b3";
}
.ai.ai-repeat:before {
    content: "\f1b4";
}
.ai.ai-rocket:before {
    content: "\f1b5";
}
.ai.ai-safari:before {
    content: "\f1b6";
}
.ai.ai-server:before {
    content: "\f1b7";
}
.ai.ai-shield-keyhole:before {
    content: "\f1b8";
}
.ai.ai-shield-plus:before {
    content: "\f1b9";
}
.ai.ai-shield-xmark:before {
    content: "\f1ba";
}
.ai.ai-shield:before {
    content: "\f1bb";
}
.ai.ai-shuffle:before {
    content: "\f1bc";
}
.ai.ai-sim-card:before {
    content: "\f1bd";
}
.ai.ai-sliders:before {
    content: "\f1be";
}
.ai.ai-smartphone-divert:before {
    content: "\f1bf";
}
.ai.ai-smartphone:before {
    content: "\f1c0";
}
.ai.ai-software-box:before {
    content: "\f1c1";
}
.ai.ai-spinner-third:before {
    content: "\f1c2";
}
.ai.ai-spy:before {
    content: "\f1c3";
}
.ai.ai-star:before {
    content: "\f1c4";
}
.ai.ai-stop:before {
    content: "\f1c5";
}
.ai.ai-stopwatch:before {
    content: "\f1c6";
}
.ai.ai-store:before {
    content: "\f1c7";
}
.ai.ai-sun:before {
    content: "\f1c8";
}
.ai.ai-swatchbook:before {
    content: "\f1c9";
}
.ai.ai-table-clock:before {
    content: "\f1ca";
}
.ai.ai-table:before {
    content: "\f1cb";
}
.ai.ai-tag:before {
    content: "\f1cc";
}
.ai.ai-tower-broadcast:before {
    content: "\f1cd";
}
.ai.ai-trash-can:before {
    content: "\f1ce";
}
.ai.ai-triangle-exclamation:before {
    content: "\f1cf";
}
.ai.ai-twitter:before {
    content: "\f1d0";
}
.ai.ai-unlock:before {
    content: "\f1d1";
}
.ai.ai-user-clock:before {
    content: "\f1d2";
}
.ai.ai-user-gear:before {
    content: "\f1d3";
}
.ai.ai-user-headset:before {
    content: "\f1d4";
}
.ai.ai-user-list:before {
    content: "\f1d5";
}
.ai.ai-user-lock:before {
    content: "\f1d6";
}
.ai.ai-user-plus:before {
    content: "\f1d7";
}
.ai.ai-user:before {
    content: "\f1d8";
}
.ai.ai-users-list:before {
    content: "\f1d9";
}
.ai.ai-users:before {
    content: "\f1da";
}
.ai.ai-valkyrie-sword:before {
    content: "\f1db";
}
.ai.ai-video:before {
    content: "\f1dc";
}
.ai.ai-virtual-reality:before {
    content: "\f1dd";
}
.ai.ai-voicemail:before {
    content: "\f1de";
}
.ai.ai-volume-0:before {
    content: "\f1df";
}
.ai.ai-volume-1:before {
    content: "\f1e0";
}
.ai.ai-volume-2:before {
    content: "\f1e1";
}
.ai.ai-volume-3:before {
    content: "\f1e2";
}
.ai.ai-volume-none:before {
    content: "\f1e3";
}
.ai.ai-wallpaper:before {
    content: "\f1e4";
}
.ai.ai-waveform:before {
    content: "\f1e5";
}
.ai.ai-window:before {
    content: "\f1e6";
}
.ai.ai-xmark:before {
    content: "\f1e7";
}
